@import url(http://fonts.googleapis.com/css?family=Oswald);
body {
  color: #4b4648;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  background-color: #E65C00; 
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
 color: black;
 font-size: 45px;
 text-align: left;
 text-shadow: 3px 3px 6px gray;
 margin-top: 0;
}
h2 {
 color: #E81919;
 font-size: 22px;
 text-align: left;
}
h3 {
 color: #E62E00;
 font-size: 16px;
 text-align: left;
}
img {
 float: left;
 margin-right: 1cm;
}
#ed {
 font-style: italic;
 text-align: left;
 font-size: 14px;
}
#bodywrapper {
  width: 65%;
  margin: 0 auto;
  background-color: #FFFFEB;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 3rem;
  border-right: solid black 2px; 
  border-left: solid black 2px;
  margin-bottom: 0 auto;
  box-shadow: 5px 0px 5px #917979, -5px 0px 5px #917979;
  padding-bottom: 4rem;
}
a{color: #blue;} 
a:visited {color: #999999;} 
a:hover {color: #333333;} 
a:focus {color: #333333;} 
a:active {color: #009900;}  
} 